<!DOCTYPE html>

<html lang="en">

<style>
	.stepper .nav-tabs {
		position: relative;
	}

	.stepper .nav-tabs>li {
		position: relative;
	}

	.stepper .nav-tabs>li:after {
		content: '';
		position: absolute;
		background: #f1f1f1;
		display: block;
		width: 100%;
		height: 5px;
		top: 30px;
		left: 50%;
		z-index: 1;
	}

	.stepper .nav-tabs>li.completed::after {
		background: #34bc9b;
	}

	.stepper .nav-tabs>li:last-child::after {
		background: transparent;
	}

	.stepper .nav-tabs>li.active:last-child .round-tab {
		background: #34bc9b;
	}

	.stepper .nav-tabs>li.active:last-child .round-tab::after {
		content: '✔';
		color: #fff;
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		top: 0;
		display: block;
	}

	.stepper .nav-tabs [data-toggle='tab'] {
		width: 25px;
		height: 25px;
		margin: 20px auto;
		border-radius: 100%;
		border: none;
		padding: 0;
		color: #f1f1f1;
	}

	.stepper .nav-tabs [data-toggle='tab']:hover {
		background: transparent;
		border: none;
	}

	.stepper .nav-tabs>.active>[data-toggle='tab'],
	.stepper .nav-tabs>.active>[data-toggle='tab']:hover,
	.stepper .nav-tabs>.active>[data-toggle='tab']:focus {
		color: #34bc9b;
		cursor: default;
		border: none;
	}

	.stepper .tab-pane {
		position: relative;
		padding-top: 50px;
	}

	.stepper .round-tab {
		width: 25px;
		height: 25px;
		line-height: 22px;
		display: inline-block;
		border-radius: 25px;
		background: #fff;
		border: 2px solid #34bc9b;
		color: #34bc9b;
		z-index: 2;
		position: absolute;
		left: 0;
		text-align: center;
		font-size: 14px;
	}

	.stepper .completed .round-tab {
		background: #34bc9b;
	}

	.stepper .completed .round-tab::after {
		content: '✔';
		color: #fff;
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		top: 0;
		display: block;
	}

	.stepper .active .round-tab {
		background: #fff;
		border: 2px solid #34bc9b;
	}

	.stepper .active .round-tab:hover {
		background: #fff;
		border: 2px solid #34bc9b;
	}

	.stepper .active .round-tab::after {
		display: none;
	}

	.stepper .disabled .round-tab {
		background: #fff;
		color: #f1f1f1;
		border-color: #f1f1f1;
	}

	.stepper .disabled .round-tab:hover {
		color: #4dd3b6;
		border: 2px solid #a6dfd3;
	}

	.stepper .disabled .round-tab::after {
		display: none;
	}
</style>

<head>
	<title>Signup</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

	<link href="/Content/Site.css" rel="stylesheet" />
	<script src="https://kit.fontawesome.com/07324ff168.js"></script>
	<style>
		body {
			margin: 20px;
			margin-left: 0;
			margin-right: 0;
			font-family: sans-serif;
			background-color: black;
			color: white;
			/* ADD THIS LINE */
			/* Background styles */
			/*background-image: url('https://codetheweb.blog/assets/img/posts/full-image-hero/image.jpg');*/
			/*background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('https://codetheweb.blog/assets/img/posts/full-image-hero/image.jpg');*/
			/*background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('https://images.pexels.com/photos/672358/pexels-photo-672358.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');*/
			/* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.pexels.com/photos/2422292/pexels-photo-2422292.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260'); */
			background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://images.pexels.com/photos/5439483/pexels-photo-5439483.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			background-attachment: fixed;
		}

		.dropdown {
			background-color: transparent;
			color: white;

		}

		.single-line {
			background-color: black;
			color: wheat;
			width: 40%;
		}

		.control-label {
			text-align: left !important;
		}

		.field-validation-error {
			color: red;
			background-color: white;
		}

		textarea {
			background-color: transparent !important;
			color: wheat !important;
		}

		ul.no-bullets {
			list-style-type: none;

		}

		a, a:hover, a:active, a:visited { color: white; }

		.btn-light, .btn-light:hover, .btn-light:active, .btn-light:visited {
    background-color: #f8f9fa !important;
	color:black;
}
	</style>

	<script>

		$(document).ready(function () {
			// getGPS();
		});

		function getGPS() {
			if (navigator.geolocation) {
				navigator.geolocation.getCurrentPosition(showGPS);
			}
			else {
				gpsText.innerText = "No GPS Functionality.";
			}
		}
		function showGPS(position) {
			//alert('Wow!');
			document.cookie = "latitude=" + position.coords.latitude;
			document.cookie = "longitude=" + position.coords.longitude;
		}

	</script>
</head>

<body>


	<div class="container">

		<div class="row">
			<div class="col-sm-2 hidden-xs"> </div>

			<div class="col-sm-8 col-xs-12">
				<h1>James C. Hernandez</h1>
				<ul class="no-bullets">
					<li>
						<h3>Add email subject of 'James Portfolio'</h3>
					</li>
					<li>
						<h3>include a your contact info</h3>
					</li>
					<li>
						<h3>brief description of work</h3>
					</li>
					<li>
						<h3>and time for us to talk</h3>
					</li>
					<li>
						<h3>Email: James.Hernandez@outlook.com</h3>
					</li>
				</ul>

				<a href="JAMES HERNANDEZ-Software Engineering Manager Resume.docx" class="btn btn-light" role="button">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
						<path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
						<path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
					  </svg> Resume</a>
				 &nbsp;
				<a href="JAMES HERNANDEZ-Software Engineering Work Experience.docx" class="btn btn-light" role="button">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
						<path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
						<path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
					  </svg> Work Experience</a>
				 &nbsp;
				 <a href="/" class="btn btn-light" role="button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
					<path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z"/>
					<path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z"/>
				  </svg> Home</a>
				 &nbsp;
			</div>

			<div class="col-sm-2 hidden-xs"> </div>
		</div>

	</div>

	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
	<script>
		(function ($) {
			'use strict';

			$(function () {

				$(document).ready(function () {
					function triggerClick(elem) {
						$(elem).click();
					}
					var $progressWizard = $('.stepper'),
						$tab_active,
						$tab_prev,
						$tab_next,
						$btn_prev = $progressWizard.find('.prev-step'),
						$btn_next = $progressWizard.find('.next-step'),
						$tab_toggle = $progressWizard.find('[data-toggle="tab"]'),
						$tooltips = $progressWizard.find('[data-toggle="tab"][title]');

					//Initialize tooltips
					$tooltips.tooltip();

					//Wizard
					$tab_toggle.on('show.bs.tab', function (e) {
						var $target = $(e.target);

						if (!$target.parent().hasClass('active, disabled')) {
							$target.parent().prev().addClass('completed');
						}
						if ($target.parent().hasClass('disabled')) {
							return false;
						}
					});

					$btn_next.on('click', function () {
						$tab_active = $progressWizard.find('.active');

						$tab_active.next().removeClass('disabled');

						$tab_next = $tab_active.next().find('a[data-toggle="tab"]');
						triggerClick($tab_next);

					});

					$btn_prev.click(function () {
						$tab_active = $progressWizard.find('.active');
						$tab_prev = $tab_active.prev().find('a[data-toggle="tab"]');
						triggerClick($tab_prev);
					});
				});
			});

		}(jQuery, this));
	</script>

</body>

</html>