<!doctype html>
<html lang="en">

<head>n
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <%- include('./partials/particles_css.ejs') %> -->
	<style>
		body,
		html {
			height: 100%;
			margin: 0;
			font-family: Arial, Helvetica, sans-serif;
		}

		.hero-image {
			/* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("photographer.jpg"); */
			background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("pexels-photo-225502.jpeg");
			height: 50%;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			position: relative;
		}

		.hero-text {
			text-align: center;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: white;
		}

		.hero-text button {
			border: none;
			outline: 0;
			display: inline-block;
			padding: 10px 25px;
			color: black;
			background-color: #ddd;
			text-align: center;
			cursor: pointer;
		}

		.hero-text button:hover {
			background-color: #555;
			color: white;
		}
	</style>

	<style>
	#particles-js {
    /* position: absolute; */
    width: 100% !important;
    height: auto !important;
    background-color: #190a6e;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    } /* ---- stats.js ---- */
	</style>
	<title>Bootstrap demo</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
	<div class="container-fluid mt-3"></div>
	<div class="hero-image">
		<div class="hero-text">
			<h1 style="font-size:50px">James C Hernandez</h1>
			<p>Sr. Software Developer</p>
			<button>What I Can Bring To Your Team</button>
		</div>
	</div>

	<p></p>
	<!-- particles.js container -->
	<!-- <div id="particles-js"></div>  -->
	<!-- stats - count particles -->
	<div class="count-particles"> <span class="js-count-particles">--</span> particles </div>
	<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> <!-- stats.js lib -->
	<script src="https://unpkg.com/stats.js@0.17.0/build/stats.min.js"></script>
	<p></p>

	<div class="container">
		<div class="row gy-2">
			
			<div class="col-lg-3 col-md-4">
				<div class="box bg-light h-100 d-flex p-4 flex-column text-blue shadow p-3 mb-5 bg-body rounded">
					<img src="..." alt="">
					<h1>Expertise</h1>
					<div id="particles-js" class="img-responsive" style="max-height:100px;"></div>

					<p>As early as 15, when I developed my first video game called Proton-Patrol, I had a passion for software 
						development and systems design. Today this continues with software for automation, robotics,
					    GPS, sensors, web based applications and mobile phone/tablet development for my career and self directed learning. </p>
						<a href="#" class="btn btn-dark">Read More</a>
				</div>
			</div>

			<div class="col-lg-3 col-md-4">
				<div class="box bg-light h-100 d-flex p-4 flex-column text-blue shadow p-3 mb-5 bg-body rounded">
					<img src="..." alt="">
					<h1>Leadership</h1>
					<p> I can develop effective teams consisting of a group of people who work together to achieve
						 a shared goal or outcome.
						 An effective leader who guides the team towards the goal or objectives that the 
						 team needs to achieve. Effective teams have a clear understanding of the team’s objectives 
						 and goals, a range of skills and know-how among team members to handle tasks effectively, 
						 a variety of personality types and strengths
					</p>
					<a href="#" class="btn btn-dark">Read More</a>
				</div>
			</div>

			<div class="col-lg-3 col-md-4">
				<div class="box bg-light h-100 d-flex p-4 flex-column text-blue shadow p-3 mb-5 bg-body rounded">
					<img src="..." alt="">
					<h1>Value Generation </h1>
					<p>By reducing the total cost of ownership, maximizing return on investment (ROI) using efficiency metrics. 
						I have increased team efficiency and output, reduced costs and defects. Building clear efficienct systems
						and team skill development using cross training and mentoring.
						 </p>
					<a href="#" class="btn btn-dark">Read More</a>
				</div>
			</div>

			<div class="col-lg-3 col-md-4">
				<div class="box bg-light h-100 d-flex p-4 flex-column text-blue shadow p-3 mb-5 bg-body rounded">
					<img src="..." alt="">
					<h1>Drive</h1>
					<p>Successful people are known for having clear-cut goals that they work hard to reach.
						I have the ability to take initiative to improve processes. Vision, patience, and focus
						builds upon a string of small achievements into a larger success story.
						I can overcome obstacles and make progress on my own when neccessary. 
					</p>
					<a href="#" class="btn btn-dark">Read More</a>
				</div>
			</div>

			
			<div class="col-lg-3 col-md-4">
				<div class="box bg-light h-100 d-flex p-4 flex-column text-blue shadow p-3 mb-5 bg-body rounded">
					<img src="..." alt="">
					<h1>Eduction and Self Directed Learning</h1>
					<p>My Bachelors in Computer Science from the University of Maryland, and my Graduate Masters of Business Administration (MBA)
						with a concentration in Project Management taught me how to achieve consistent successful results. We live in intersting times 
						and I find ways to learn new things whenever possible to keep my mind sharp and ideas fresh. 
					</p>
					<a href="#" class="btn btn-dark">Read More</a>
				</div>
			</div>

		</div>
	</div>


	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous">
	</script>
	</div>
		
	<%- include('./partials/particles_script.ejs') %>

</body>

</html>