<!doctype html>
<html lang="en">

<head>n
	<meta charset="UTF-8">
	<%- include('./partials/particles_css.ejs') %>
</head>

<body>
	<!-- particles.js container -->
	<div id="particles-js"></div> <!-- stats - count particles -->
	<div class="count-particles"> <span class="js-count-particles">--</span> particles </div>
	<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> <!-- stats.js lib -->
	<script src="https://unpkg.com/stats.js@0.17.0/build/stats.min.js"></script>
	
	<%- include('./partials/particles_script.ejs') %>

</body>

</html>