<!doctype html>
<html lang="en">

<head>
	<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
		body,
		html {
			height: 100%;
			margin: 0;
			font-family: Arial, Helvetica, sans-serif;
		}
	</style>

	<style type="text/css">
		.inner {
			overflow: hidden;
		}

		.inner img {
			transition: all 1.5s ease;
		}

		.inner:hover img {
			transform: scale(1.5);
		}
	</style>

	<style>
		[data-tooltip] {
			position: relative;
			cursor: default;
		}

		[data-tooltip]::after {
			position: absolute;
			width: 280px;
			left: calc(50%- 70px);
			bottom: 125%;
			text-align: center;
			box-sizing: border-box;
			content: attr(data-tooltip);
			background: yellow;
			padding: 8px;
			border-radius: 10px;
			font-size: 0.9em;
			font-weight: bold;
			visibility: hidden;
			opacity: 0;
			transform: translateY(10px);
			transition: opacity 0.3s, transform 0.2s;
		}

		[data-tooltip]:hover::after {
			opacity: 1;
			visibility: visible;
			transform: translateY(0);
			z-index: 1000;
		}
	</style>

	<style>
		/* .back-video {
			position: relative;
			right:0;
			bottom:0;
			z-index: -1;
		} */

		@media(max-aspect-ratio: 16/9) {
			.back-video{
				width:100%;
				height: 100%;

			}
		}
	</style>

	<%- include('../partials/landing_hero_css.ejs') %>
		<%- include('../partials/particles_css.ejs') %>

			<title>James - Portfolio</title>
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
				integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
				crossorigin="anonymous">
			<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

			<script type="text/javascript">
				window.onresize = function () {
					// alert("you resized");
					drawChart();
				}
				// Load the Visualization API and the corechart package.
				google.charts.load('current', { 'packages': ['corechart'] });

				// Set a callback to run when the Google Visualization API is loaded.
				google.charts.setOnLoadCallback(drawChart);

				// Callback that creates and populates a data table,
				// instantiates the pie chart, passes in the data and
				// draws it.
				function drawChart() {

					// Create the data table.
					var data = new google.visualization.DataTable();
					data.addColumn('string', 'Topping');
					data.addColumn('number', 'Slices');
					data.addRows([
						['Passion', 3],
						['Hard Work', 1],
						['Focus', 1],
						['Process improvement', 1],
						['Process Metrics', 2]
					]);

					// Set chart options
					var options = {
						'title': "James's ingredients for success",
						'width': '100%',
						'height': '100%'
					};

					// Instantiate and draw our chart, passing in some options.
					var chart = new google.visualization.PieChart(document.getElementById('pie_chart'));
					chart.draw(data, options);
				}
			</script>

</head>

<body>
	<p></p>
	<div class="container-fluid mt-3"></div>

	<!-- HERO section with background video and text overlay -->
    <section id="hero" class="d-flex align-items-center" style="max-height: 350px;overflow: hidden;">
        <video autoplay muted loop id="myVideo" class="back-video" style="width:100%">
			<source src="https://raw.githack.com/james-c-hernandez/portfolio/main/public/portfolio_clouds.mp4" type="video/mp4" style="object-fit: fill !important;">
			<!-- <source src="https://www.w3schools.com/howto/rain.mp4" type="video/mp4" style="object-fit: fill !important;"> -->
			<!-- <source src="SUNNWATER.mp4" type="video/mp4" style="object-fit: fill !important;"> -->
        </video>
        <div class="container position-absolute" data-aos="fade-up" data-aos-delay="500" style="color: black;">
            <h1>James C Hernandez</h1>
            <h2>Highlights of my work. Most when I was contractor brought in to solve problems while also 
				achieving my BSCS and MBA during night school</h2>
            <!-- <a href="#about" class="btn-get-started scrollto">Get Started</a> -->
			<a href="/" class="btn brn-primary" role="button">Back to top</a>
        </div>
		
    </section><!-- End Hero -->


<!-- 	<div class="hero-image" id="particles-js" style="max-height: 350px;overflow: hidden;">
		<div class="hero-text">
			<div class="d-none d-sm-block">
				<h1 class="fs-1">James C Hernandez</h1>
				<h2 class="fs-3">My work that was done when I was contractor brought in to solve problems</h2>
			</div>
			<div class="d-sm-none d-md-none d-lg-none">
				<h1 class="fs-2">James C Hernandez</h1>
				<h2 class="fs-3">My work was done when I was contractor brought in to solve problems</h2>
			</div>
			<button type="button" class="btn brn-light">Back to top</button>
		</div>
	</div> -->

	<p></p>

	<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>


	<div class="container">

		<div class="row gy-2">

			<!-- GEICO Commercial Auto Website First responsive UI (growth) -->
			<div class="col-xl-4 col-lg-6 col-md-12">
				<div class="box bg-light h-100 d-flex p-4 flex-column text-blue shadow p-3 mb-5 bg-body rounded">
					<img src="pexels-smartphone.jpeg" alt="Icon of GEICO where I did the following work described below">
					<h1 style="color: green;">GEICO Commercial Auto Website - First responsive UI</h1>
					<h3></h3>

					<div class="accordion z-index-n1" id="accordionExample" z-index="">
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingG1">
								<button class="accordion-button" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseG1" aria-expanded="true" aria-controls="collapseG1">
									Business Scope
								</button>
							</h2>
							<div id="collapseG1" class="accordion-collapse collapse" aria-labelledby="headingOne"
								data-bs-parent="#accordionExample">
								<div class="accordion-body">
									GEICO, founded in 1936, manages more than 16 million auto policies in force and
									insures more than 28 million vehicles. They have
									expanded insurance coverage for home, rent, boat, and motorcycles. Owned by
									Warren Buffett's massive holding company, GEICO
									sustained high margins in its latest earnings report, posting a $514 million
									pre-tax profit - Aug 2023
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingG2">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseG2" aria-expanded="false" aria-controls="collapseG2">
									Technology I used
								</button>
							</h2>
							<div id="collapseG2" class="accordion-collapse collapse" aria-labelledby="headingG1C"
								data-bs-parent="#accordionExample">
								<div class="accordion-body">
									At that time, my mastery of new technologies put me far ahead of others. I was able
									to quickly and effectively
									use new technologies to see solutions. 
									<a href="#"
										data-tooltip="the same page rearranges elements and
										size based on the viewers
										screen size. Someone using a phone screen might see a different web layout then
										someone on a desktop computer,
										but all the same web page">Responsive web design</a>
									. When I was researching one of the first smart phones in 2002,
									so I could learn how to
									code on it, I was in a hotel lobby and someone said @Sir why are you talking into
									your kindle@?
									- I still joke about that today. Today over a decade later, responsive web design is common and no longer a big deal, 
									so I sit hear with my Virtual Reality rig next to me these days.
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingG3">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseG3" aria-expanded="false" aria-controls="collapseG3">
									The Problem I directly solved
								</button>
							</h2>
							<div id="collapseG3" class="accordion-collapse collapse" aria-labelledby="headingTwo"
								data-bs-parent="#accordionExample">
								<div class="accordion-body">
									I know the clean <A href="https://www.geico.com/commercial-auto-insurance/"
										target="_blank" rel="noopener noreferrer">GEICO Commercial Auto website</A> look
									is famous now, but when I was started at that company it's websites were many years
									old,cluttered, it was before the modern sleek look we know today.
									One day Website metric reports identified that there was a 100% drop off of customer
									applications on iPhone devices
									and a 90% drop off on Android Phones. <p></p>
									<b>I discovered using a iPhone emulator on a web browser, that the "CONTINUE" button
										was off-page and not clickable on smartphones. </b>
									<p></p>Believe it or not, the website was not
									<a href="#"
										data-tooltip="a obsolete fixed web page layout that does not dynamically adjust page elements based on screen size and aspect such as small smartphones">Responsive</a>
									back in 2010
									and during our next daily scrum, I explained the problem and told the team I knew
									how to fix it. My solution was re-writing the existing site using responsive UI.
									<b>Management put me in charge of the project and gave me technical leadership</b>
									of a team of three developers including myself as lead.
									commercial auto website UI upgrade for iPhone and Android smartphones and tablets.
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingG4">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseG4" aria-expanded="false" aria-controls="collapseG4">
									Success Achieved
								</button>
							</h2>
							<div id="collapseG4" class="accordion-collapse collapse" aria-labelledby="headingTwoB"
								data-bs-parent="#accordionExample">
								<div class="accordion-body">
									I modernized the GEICO Commercial Auto website in three weeks, which was record
									breaking for them. Specifically added new client side input Form Validation, First
									use of Glyph Icons, First Rounded Buttons and soft styles. My update now allowed
									millions of customers to buy and manage their commercial
									auto policies from their iPhone,Android phones now expanding business profit and
									customer satisfaction<p></p><b>After this success</b>, I
									was put in charge of adding a new <a href="#"
										data-tooltip="a private citizen using their private auto to pickup and transport passengers for hire">Rideshare</a>
									capability to the website so Uber, Lyft and other
									<a href="#"
										data-tooltip="a private citizen using their private auto to pickup and transport passengers for hire">rideshare</a>
									drivers to apply for commercial auto insurance since their personal auto insurance
									did not cover <a href="#"
										data-tooltip="a private citizen using their private auto to pickup and transport passengers for hire">rideshare</a>
									activity.
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingG5">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseG5" aria-expanded="false" aria-controls="collapseG5">
									My Contribution
								</button>
							</h2>
							<div id="collapseG5" class="accordion-collapse collapse" aria-labelledby="headingThree"
								data-bs-parent="#accordionExample">
								<div class="accordion-body">
									personally resulted in significant cost savings and productivity saving over
									$450K USD with 15-20 man hours saved per week
								</div>
							</div>
						</div>
					</div>
					<a href="#" class="btn btn-dark">Read More</a>
				</div>
			</div>

			<!-- GEICO Commercial Auto Website - Allow Rideshare website (growth)-->
			<div class="col-xl-4 col-lg-6 col-md-12">
				<div class="box bg-light h-100 d-flex p-4 flex-column text-blue shadow p-3 mb-5 bg-body rounded">
					<img src="pexels-person-driving-car.jpeg" alt="Icon of GEICO where I did the following work described below">
					<h1 style="color: green;">GEICO Commercial Auto Website - First Rideshare website</h1>
					<h3></h3>

					<div class="accordion z-index-n1" id="accordionExample">
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingOne">
								<button class="accordion-button" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
									Business Scope
								</button>
							</h2>
							<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
								data-bs-parent="#accordionExample">
								<div class="accordion-body">
									GEICO, founded in 1936, manages more than 16 million auto policies in force and
									insures more than 28 million vehicles. They have
									expanded insurance coverage for home, rent, boat, and motorcycles. Owned by
									Warren Buffett's massive holding company, GEICO
									sustained high margins in its latest earnings report, posting a $514 million
									pre-tax profit - Aug 2023
								</div>
							</div>
						</div>

						<div class="accordion-item">
							<h2 class="accordion-header" id="headingTwo">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseOne2" aria-expanded="false" aria-controls="collapseTwo">
									Technology I used
								</button>
							</h2>
							<div id="collapseOne2" class="accordion-collapse collapse" aria-labelledby="headingP1C"
								data-bs-parent="#accordionExample">
								<div class="accordion-body">
									ORACLE, Web Services, Bootstrap, Glyph Icons, UI form validation, C-Sharp,
									.NET, MVC, LINQ, regular-expressions, cross-site forgery protection, 
									Visual Studio, Team Foundation Server, DevOps,
									Sonar, Dynatrace, NodeJS, jQuery, AJAX, javascript, 
								</div>
							</div>
						</div>



						<div class="accordion-item">
							<h2 class="accordion-header" id="headingTwo">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									The Problem I directly solved
								</button>
							</h2>
							<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
								data-bs-parent="#accordionExample">
								<div class="accordion-body">
									There are over 1.7 million rideshare drivers in the U.S., mostly split up between
									Uber and Lyft drivers that did not have an
									easy way to get auto insurace converge back in 2010. This was un "untapped market"
									with 1.7 million drivers!
									<p></p>
									With the emergence of Rideshare in the U.S. circa 2010, private citizens began using
									their personal auto to
									pickup and transport passengers for extra income. However, personal auto insurance
									did not cover personal vehicles
									when they were being used for commercial use. This created a problem of hundreds of
									thousands of uninsured rideshare
									drivers that GEICO wanted to be able to insure for an extra fee.
									<p></p> GEICO needed this rideshare functionality added to their existing
									commercial auto website ASAP and did not have the time or money to wait since other
									insurance companies were interested
									in capturing these new customers. They reached out to me and my team based on our
									previous success with re-writing the
									entire GEICO website with responsive UI.
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingTwoB">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseTwoB" aria-expanded="false" aria-controls="collapseTwoB">
									Success Achieved
								</button>
							</h2>
							<div id="collapseTwoB" class="accordion-collapse collapse" aria-labelledby="headingTwoB"
								data-bs-parent="#accordionExample">
								<div class="accordion-body">
									Under budget and on time, my team and I delivered new rideshare coverage
									capabilities to the existing GEICO Commercial
									Auto website that DID capture many of the new 1.7 million rideshare customers.
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingThree">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
									My Contribution
								</button>
							</h2>
							<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
								data-bs-parent="#accordionExample">
								<div class="accordion-body">
									Personally the lead software developer that captured potentially 1.7 million new
									customers <b>resulting in over 50 million in new earnings.</b>
								</div>
							</div>
						</div>
					</div>
					<a href="#" class="btn btn-dark">Read More</a>
				</div>
			</div>

			<!-- PIMS Passenger Information System -->
			<div class="col-xl-4 col-lg-6 col-md-12">
				<div class="box bg-light h-100 d-flex p-4 flex-column text-blue shadow p-3 mb-5 bg-body rounded">

					<img src="RAIl-information-system2.jpeg"
					alt="image representing PIMS work">
					<h1>PIMS - Passenger Information Management System</h1>

					<div class="accordion" id="accordionExample">
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingOne">
								<button class="accordion-button" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseP1" aria-expanded="true" aria-controls="collapseP1">
									Business Scope
								</button>
							</h2>
							<div id="collapseP1" class="accordion-collapse collapse" aria-labelledby="headingOne"
								data-bs-parent="#accordionExample">
								<div class="accordion-body">
									The global passenger rail transport market is expected to grow from $227.21
									billion in 2021 to $250.93 billion in 2022 at a compound annual growth rate (CAGR)
									of 10.4%. The
									market is expected to grow to $357.84 billion in 2026 at a compound
									annual growth rate (CAGR) of 9.3%.
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingTwo">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseP2" aria-expanded="false" aria-controls="collapseTwo">
									Technology I used
								</button>
							</h2>
							<div id="collapseP2" class="accordion-collapse collapse" aria-labelledby="headingP1C"
								data-bs-parent="#accordionExample">
								<div class="accordion-body">
									Highly fault-tolerant languages such as Erlang, Elixir, Phoenix Web, Postgres,
									MSMQ, RabbitMQ, SFTP, Powershell, NodeJS, Windows Task Scheduler, Jenkins,
									file replication, automation, Git
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingTwo">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseP3" aria-expanded="false" aria-controls="collapseTwo">
									The Problem I directly solved
								</button>
							</h2>
							<div id="collapseP3" class="accordion-collapse collapse" aria-labelledby="headingTwo"
								data-bs-parent="#accordionExample">
								<div class="accordion-body">
									Seattle Washington is a major U.S. city, with over 567,000 workers and an annual GDP
									of 1.6 billion in General Fund Revenue,
									home of Amazon and Starbucks Coffee, was expanding the passenger Seattle Washington
									Link Light Rail
									and needed a new Passenger Information System to manage train, movements, schedules,
									estimate arrival times, messages that are
									automated, scheduled, adhoc, and custom that can be played at any/all stations. The
									system needed extreme fault-tolerant reliability
									with automatic failover at every step. <P></P>
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingTwoB">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseP4" aria-expanded="false" aria-controls="collapseTwoB">
									Success Achieved
								</button>
							</h2>
							<div id="collapseP4" class="accordion-collapse collapse" aria-labelledby="headingTwoB"
								data-bs-parent="#accordionExample">
								<div class="accordion-body">
									Created new Seattle Washington Link Light Rail - high availability Passenger
									Information Information System that achieves customer goals and standards.
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingThree">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseP5" aria-expanded="false" aria-controls="collapseThree">
									My Contribution
								</button>
							</h2>
							<div id="collapseP5" class="accordion-collapse collapse" aria-labelledby="headingThree"
								data-bs-parent="#accordionExample">
								<div class="accordion-body">
									Identified opportunities and established build automation, VMs and standards 
									to save	100 hours a week. Lead scrum meetings and personally involved in
									production release of software to control a 1.6 billion dollar system.
									My automation built and deployed software across multiple servers in test, stage, and
									production environments under CM control,
									Designed and coded an automated two-way recursive folder sync between primary
									and replica hosts,
									Created automated tasks to backup and maintain databases, Coded key portions of
									system resulting in significant
									cost savings and productivity saving over $450K USD over the project.
								</div>
							</div>
						</div>
					</div>
					<a href="#" class="btn btn-dark">Read More</a>
				</div>
			</div>

			<!-- Westat American Heart Association (speed) -->
			<div class="col-xl-4 col-lg-6 col-md-12">
				<div class="box bg-light h-100 d-flex p-4 flex-column text-blue shadow p-3 mb-5 bg-body rounded">
					<img src="https://images.pexels.com/photos/4021775/pexels-photo-4021775.jpeg?auto=compress&cs=tinysrgb&w=400"
						alt="image representing Westat work">
					<h1>Westat - American Heart Association Project</h1>

					<div class="accordion" id="accordionExample">
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingOne">
								<button class="accordion-button" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseW1" aria-expanded="true" aria-controls="collapseOne">
									Business Scope
								</button>
							</h2>
							<div id="collapseW1" class="accordion-collapse collapse" aria-labelledby="headingOne"
								data-bs-parent="#accordionExample">
								<div class="accordion-body">
									Since 1963, Westat is a leader in research, data collection and analysis, technical 
									assistance, evaluation, and communications. Westat is responsible for evidence-based
									findings help clients in government and the private sector accelerate 
									advancements in health, education, and social and 
									economic policy.
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingTwo">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseW2" aria-expanded="false" aria-controls="collapseTwo">
									Technology I used
								</button>
							</h2>
							<div id="collapseW2" class="accordion-collapse collapse" aria-labelledby="headingP1C"
								data-bs-parent="#accordionExample">
								<div class="accordion-body">
									At the time, my mastery of new technologies put me far ahead of others. I was able
									to quickly and effectively
									use new technologies. I used my skills in <b><i>Parallel Processing</i></b> and <b><i>In-Memory
									disconnected data</i></b> processing to achieve a 40x speed improvement in clinical
									reports for massive data far exceeding customer expectations.
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingTwo">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseW3" aria-expanded="false" aria-controls="collapseTwo">
									The Problem I directly solved
								</button>
							</h2>
							<div id="collapseW3" class="accordion-collapse collapse" aria-labelledby="headingTwo"
								data-bs-parent="#accordionExample">
								<div class="accordion-body">
									Principal investigators for American Heart Association studies needed a web 
									portal to access their clinical results in real-time. When I started, reports 
									took over four-hours to produce reports via email. The new web portal I created 
									produced reports in just a few minutes greatly improving satisfaction of all 
									business customers.<p></p>I realized that modern servers have 8 CPU cores or more,
									so I read in daily data into server memory and processed the data in-memory 
									instead of using slow stored procedures to create reports. 
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingTwoB">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseW4" aria-expanded="false" aria-controls="collapseTwoB">
									Success Achieved
								</button>
							</h2>
							<div id="collapseW4" class="accordion-collapse collapse" aria-labelledby="headingTwoB"
								data-bs-parent="#accordionExample">
								<div class="accordion-body">
									Principal investigators were able to complete their American Heart Association
									clinical studies in record breaking times with a new flexibility and ease of used
									not experienced before.
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingThree">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseW5" aria-expanded="false" aria-controls="collapseThree">
									My Contribution
								</button>
							</h2>
							<div id="collapseW5" class="accordion-collapse collapse" aria-labelledby="headingThree"
								data-bs-parent="#accordionExample">
								<div class="accordion-body">
									Personally the lead software developer that created a brand new AHA Website for their 
									27 million USD 10 year study.
								</div>
							</div>
						</div>
					</div>
					<a href="#" class="btn btn-dark">Read More</a>
				</div>
			</div>

			<!-- Exelon Customer Signup Web Portal -->
			<div class="col-xl-4 col-lg-6 col-md-12">
				<div class="box bg-light h-100 d-flex p-4 flex-column text-blue shadow p-3 mb-5 bg-body rounded">
					<img src="https://images.pexels.com/photos/230544/pexels-photo-230544.jpeg?auto=compress&cs=tinysrgb&w=400"
						alt="image representing Westat work">
					<h1>Exelon Customer Portal</h1>

					<div class="accordion" id="accordionExample">
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingOne">
								<button class="accordion-button" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseE1" aria-expanded="true" aria-controls="collapseOne">
									Business Scope
								</button>
							</h2>
							<div id="collapseE1" class="accordion-collapse collapse" aria-labelledby="headingOne"
								data-bs-parent="#accordionExample">
								<div class="accordion-body">
									The Chicago-based electric utility Exelon Corporation reported a net income of 
									around 2.2 billion U.S. dollars in financial year 2022, an increase of about 20 
									percent compared to the previous year
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingTwo">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseE2" aria-expanded="false" aria-controls="collapseTwo">
									Technology I used
								</button>
							</h2>
							<div id="collapseE2" class="accordion-collapse collapse" aria-labelledby="headingP1C"
								data-bs-parent="#accordionExample">
								<div class="accordion-body">
									C-Sharp, Linq, Parallel Processing, In-Memory data processing, Client side UI
									validation, Tool-tips, Bootstrap 4, Web Services, SQL Server, Azure Cloud, .NET,
									MVC, C++, WSDL
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingTwo">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseE3" aria-expanded="false" aria-controls="collapseTwo">
									The Problem I directly solved
								</button>
							</h2>
							<div id="collapseE3" class="accordion-collapse collapse" aria-labelledby="headingTwo"
								data-bs-parent="#accordionExample">
								<div class="accordion-body">
									At the time, my mastery of new technologies put me far ahead of others. I was able
									to quickly and effectively
									use new technologies. I used my skills in Parallel Processing and In-Memory
									disconnected data processing to achieve a 40x speed improvement. Membership web
									page validations reduced errors by 900% with a savings of 158k per year. Responsive
									UI web design allowed customers to enroll and manage their accounts from mobile
									phones saving approximately 1200 customer calls per month.
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingTwoB">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseE4" aria-expanded="false" aria-controls="collapseTwoB">
									Success Achieved
								</button>
							</h2>
							<div id="collapseE4" class="accordion-collapse collapse" aria-labelledby="headingTwoB"
								data-bs-parent="#accordionExample">
								<div class="accordion-body">
									40x speed improvement. Membership web
									page validations reduced errors by 900% with a savings of 158k per year. Responsive
									UI web design allowed customers to enroll and manage their accounts from mobile
									phones saving approximately 1200 customer calls per month.
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingThree">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseE5" aria-expanded="false" aria-controls="collapseThree">
									My Contribution
								</button>
							</h2>
							<div id="collapseE5" class="accordion-collapse collapse" aria-labelledby="headingThree"
								data-bs-parent="#accordionExample">
								<div class="accordion-body">
									Personally updated the membership website for nearly 10 million Exelon customers 
									in the Pennsylvania, Maryland, and New Jersey areas. Released new software to
									the Microsoft Azure Cloud with load balancing and automatic failover. 
								</div>
							</div>
						</div>
					</div>
					<a href="#" class="btn btn-dark">Read More</a>
				</div>
			</div>

			<!-- NASDAQ Web Security Framework (growth) -->
			<div class="col-xl-4 col-lg-6 col-md-12">
				<div class="box bg-light h-100 d-flex p-4 flex-column text-blue shadow p-3 mb-5 bg-body rounded">
					<img src="N1.jpg"
						alt="image representing Westat work">
					<h1>NASDAQ Web Security Framework - MFQS Web Site</h1>

					<div class="accordion" id="accordionExample">
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingOne">
								<button class="accordion-button" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseN1" aria-expanded="true" aria-controls="collapseOne">
									Business Scope
								</button>
							</h2>
							<div id="collapseN1" class="accordion-collapse collapse" aria-labelledby="headingOne"
								data-bs-parent="#accordionExample">
								<div class="accordion-body">
									Nasdaq, Inc. is an American multinational financial services corporation that 
									owns and operates three stock exchanges in the United States: the namesake 
									Nasdaq stock exchange, the Philadelphia Stock Exchange, and the Boston Stock 
									Exchange, and seven European stock exchanges
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingTwo">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseN2" aria-expanded="false" aria-controls="collapseTwo">
									Technology I used
								</button>
							</h2>
							<div id="collapseN2" class="accordion-collapse collapse" aria-labelledby="headingP1C"
								data-bs-parent="#accordionExample">
								<div class="accordion-body">
									My early interest in RSA encryption, X.509 Client and Server Certificates,
									Microsoft Certificate Authority (CA) was crucial to enabling secure encrypted
									end of day mutual fund prices using web browsers instead of dumb terminals.
									Technology included C++, Oracle Database,HTTPS, HTML, javascript, 
									X.400, Common Gateway Interface (CGI)
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingTwo">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseN3" aria-expanded="false" aria-controls="collapseTwo">
									The Problem I directly solved
								</button>
							</h2>
							<div id="collapseN3" class="accordion-collapse collapse" aria-labelledby="headingTwo"
								data-bs-parent="#accordionExample">
								<div class="accordion-body">
									Mutual Fund companies needed new ways to upload end of day mutual fund prices
									directly into the NASDAQ network. Due to growth of NASDAQ ,members needed a 
									new way to securely connect without the constant delay of buying new terminals.
									During a NASDAQ executive meeting, I proposed a new way to use web browsers to 
									securely upload financial information from members. <P></P> I was put in charge
									of creating a NASDAQ web security framework as a proof of concept which was
									completed successfully on time and under budget <P></P>Executive then directed me  
									to use the new web security framework on a new Mutual Fund Quotation Service (MFQS)
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingTwoB">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseN4" aria-expanded="false" aria-controls="collapseTwoB">
									Success Achieved
								</button>
							</h2>
							<div id="collapseN4" class="accordion-collapse collapse" aria-labelledby="headingTwoB"
								data-bs-parent="#accordionExample">
								<div class="accordion-body">
									new members of NASDAQ could securely and accurately upload end of day mutual fund
									prices at the end of the day without spending millions of dollars in specialized
									equipment, networking cables and terminals. For the <b><i>first time commercial 
										off the shelf equipment could be used</i></b>
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingThree">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseN5" aria-expanded="false" aria-controls="collapseThree">
									My Contribution
								</button>
							</h2>
							<div id="collapseN5" class="accordion-collapse collapse" aria-labelledby="headingThree"
								data-bs-parent="#accordionExample">
								<div class="accordion-body">
									Because of my knowledge of emerging web security technologies and my ability to effectively communicate it to 
									management. I paved the way to use commercial off the shelf browsers and computers to save over a 1.2 million dollars per year
									 and allowed new NASDAQ broker members to activate 500% faster since they could achieve the better results now
									 using commercial off the shelf computers and browsers instead of special equipment.
								</div>
							</div>
						</div>
					</div>
					<a href="#" class="btn btn-dark">Read More</a>
				</div>
			</div>

			<!-- American Urological Association (membership redesign)-->
			<div class="col-xl-4 col-lg-6 col-md-12">
				<div class="box bg-light h-100 d-flex p-4 flex-column text-blue shadow p-3 mb-5 bg-body rounded">
					<img src="https://images.pexels.com/photos/5327584/pexels-photo-5327584.jpeg?auto=compress&cs=tinysrgb&w=1600"
						alt="image representing Westat work">
					<h1>American Urological Association - Membership Website</h1>

					<div class="accordion" id="accordionExample">
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingOne">
								<button class="accordion-button" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseU1" aria-expanded="true" aria-controls="collapseOne">
									Business Scope
								</button>
							</h2>
							<div id="collapseU1" class="accordion-collapse collapse" aria-labelledby="headingOne"
								data-bs-parent="#accordionExample">
								<div class="accordion-body">
									Founded in 1902, the American Urological Association is a professional 
									organization for the advancement of urologic patient care. Annual revenue is $25.2M 
									and offers a wide range of services, such as 
									publications, research, annual meeting, continuing medical education 
									and the formulation of health policy. American Urological Association has 257 employees, 
									and the revenue per employee ratio is $98,171 servicing over 3100 new members annually.
									<p></p>
									Nearly 100,000 Social Media Followers, 
									Facebook Fans – Nearly 55,000 – up 4% from 2019,
									Twitter Followers – 31,800 – up 17% from 2019,
									Instagram Followers – 9,800 followers – up 172% from 2019,
									Nearly 2 million visits to AUAnet.org and
									More than 1.2 million pages views to AUA Clinical Guidelines
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingTwo">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseU2" aria-expanded="false" aria-controls="collapseTwo">
									Technology I used
								</button>
							</h2>
							<div id="collapseU2" class="accordion-collapse collapse" aria-labelledby="headingP1C"
								data-bs-parent="#accordionExample">
								<div class="accordion-body">
									At the time, my mastery of new technologies put me far ahead of others. I was able
									to quickly and effectively
									use new technologies. I used my skills in Parallel Processing and In-Memory
									disconnected data processing to achieve a 40x speed improvement in clinical
									reports for massive data far exceeding customer expectations.
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingTwo">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseU3" aria-expanded="false" aria-controls="collapseTwo">
									The Problem I directly solved
								</button>
							</h2>
							<div id="collapseU3" class="accordion-collapse collapse" aria-labelledby="headingTwo"
								data-bs-parent="#accordionExample">
								<div class="accordion-body">
									Principal investigators for American Heart Association studies needed a web 
									portal to access their clinical results in real-time. When I started, reports 
									took over four-hours to produce reports via email. The new web portal I created 
									produced reports in just a few minutes greatly improving satisfaction of all 
									business customers.<p></p>I realized that modern servers have 8 CPU cores or more,
									so I read in daily data into server memory and processed the data in-memory 
									instead of using slow stored procedures to create reports. 
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingTwoB">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseU4" aria-expanded="false" aria-controls="collapseTwoB">
									Success Achieved
								</button>
							</h2>
							<div id="collapseU4" class="accordion-collapse collapse" aria-labelledby="headingTwoB"
								data-bs-parent="#accordionExample">
								<div class="accordion-body">
									Principal investigators were able to complete their American Heart Association
									clinical studies in record breaking times with a new flexibility and ease of used
									not experienced before.
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingThree">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseU5" aria-expanded="false" aria-controls="collapseThree">
									My Contribution
								</button>
							</h2>
							<div id="collapseU5" class="accordion-collapse collapse" aria-labelledby="headingThree"
								data-bs-parent="#accordionExample">
								<div class="accordion-body">
									Personally the lead software developer that created a brand new AHA Website for their 
									27 million USD 10 year study.
								</div>
							</div>
						</div>
					</div>
					<a href="#" class="btn btn-dark">Read More</a>
				</div>
			</div>

			<!-- Admissions Office Support System (business)-->
			<div class="col-xl-4 col-lg-6 col-md-12">
				<div class="box bg-light h-100 d-flex p-4 flex-column text-blue shadow p-3 mb-5 bg-body rounded">
					<img src="USUHS-AOSS.jpg"
						alt="image representing Westat work">
					<h1>Uniformed Services University of the Heath Sciences - Admissions Office System</h1>

					<div class="accordion" id="accordionExample">
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingOne">
								<button class="accordion-button" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseA1" aria-expanded="true" aria-controls="collapseOne">
									Business Scope
								</button>
							</h2>
							<div id="collapseA1" class="accordion-collapse collapse" aria-labelledby="headingOne"
								data-bs-parent="#accordionExample">
								<div class="accordion-body">
									Since 1963, Westat is a leader in research, data collection and analysis, technical 
									assistance, evaluation, and communications. Westat is responsible for evidence-based
									findings help clients in government and the private sector accelerate 
									advancements in health, education, and social and 
									economic policy.
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingTwo">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseA2" aria-expanded="false" aria-controls="collapseTwo">
									Technology I used
								</button>
							</h2>
							<div id="collapseA2" class="accordion-collapse collapse" aria-labelledby="headingP1C"
								data-bs-parent="#accordionExample">
								<div class="accordion-body">
									At the time, my mastery of new technologies put me far ahead of others. I was able
									to quickly and effectively
									use new technologies. I used my skills in Parallel Processing and In-Memory
									disconnected data processing to achieve a 40x speed improvement in clinical
									reports for massive data far exceeding customer expectations.
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingTwo">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseA3" aria-expanded="false" aria-controls="collapseTwo">
									The Problem I directly solved
								</button>
							</h2>
							<div id="collapseA3" class="accordion-collapse collapse" aria-labelledby="headingTwo"
								data-bs-parent="#accordionExample">
								<div class="accordion-body">
									Principal investigators for American Heart Association studies needed a web 
									portal to access their clinical results in real-time. When I started, reports 
									took over four-hours to produce reports via email. The new web portal I created 
									produced reports in just a few minutes greatly improving satisfaction of all 
									business customers.<p></p>I realized that modern servers have 8 CPU cores or more,
									so I read in daily data into server memory and processed the data in-memory 
									instead of using slow stored procedures to create reports. 
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingTwoB">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseA4" aria-expanded="false" aria-controls="collapseTwoB">
									Success Achieved
								</button>
							</h2>
							<div id="collapseA4" class="accordion-collapse collapse" aria-labelledby="headingTwoB"
								data-bs-parent="#accordionExample">
								<div class="accordion-body">
									Principal investigators were able to complete their American Heart Association
									clinical studies in record breaking times with a new flexibility and ease of used
									not experienced before.
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingThree">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseA5" aria-expanded="false" aria-controls="collapseThree">
									My Contribution
								</button>
							</h2>
							<div id="collapseA5" class="accordion-collapse collapse" aria-labelledby="headingThree"
								data-bs-parent="#accordionExample">
								<div class="accordion-body">
									Personally the lead software developer that created a brand new AHA Website for their 
									27 million USD 10 year study.
								</div>
							</div>
						</div>
					</div>
					<a href="#" class="btn btn-dark">Read More</a>
				</div>
			</div>

			<!-- Military Medicine Disaster Drill Website -->
			<div class="col-xl-4 col-lg-6 col-md-12">
				<div class="box bg-light h-100 d-flex p-4 flex-column text-blue shadow p-3 mb-5 bg-body rounded">
					<img src="MilitaryMedicine.jpeg"
						alt="image representing Westat work">
					<h1>Military Medicine Disaster Drill Website - Tekama Inc Project</h1>

					<div class="accordion" id="accordionExample">
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingOne">
								<button class="accordion-button" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseT1" aria-expanded="true" aria-controls="collapseOne">
									Business Scope
								</button>
							</h2>
							<div id="collapseT1" class="accordion-collapse collapse" aria-labelledby="headingOne"
								data-bs-parent="#accordionExample">
								<div class="accordion-body">
									Since 1963, Westat is a leader in research, data collection and analysis, technical 
									assistance, evaluation, and communications. Westat is responsible for evidence-based
									findings help clients in government and the private sector accelerate 
									advancements in health, education, and social and 
									economic policy.
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingTwo">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseT2" aria-expanded="false" aria-controls="collapseTwo">
									Technology I used
								</button>
							</h2>
							<div id="collapseT2" class="accordion-collapse collapse" aria-labelledby="headingP1C"
								data-bs-parent="#accordionExample">
								<div class="accordion-body">
									At the time, my mastery of new technologies put me far ahead of others. I was able
									to quickly and effectively
									use new technologies. I used my skills in Parallel Processing and In-Memory
									disconnected data processing to achieve a 40x speed improvement in clinical
									reports for massive data far exceeding customer expectations.
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingTwo">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseT3" aria-expanded="false" aria-controls="collapseTwo">
									The Problem I directly solved
								</button>
							</h2>
							<div id="collapseT3" class="accordion-collapse collapse" aria-labelledby="headingTwo"
								data-bs-parent="#accordionExample">
								<div class="accordion-body">
									Principal investigators for American Heart Association studies needed a web 
									portal to access their clinical results in real-time. When I started, reports 
									took over four-hours to produce reports via email. The new web portal I created 
									produced reports in just a few minutes greatly improving satisfaction of all 
									business customers.<p></p>I realized that modern servers have 8 CPU cores or more,
									so I read in daily data into server memory and processed the data in-memory 
									instead of using slow stored procedures to create reports. 
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingTwoB">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseT4" aria-expanded="false" aria-controls="collapseTwoB">
									Success Achieved
								</button>
							</h2>
							<div id="collapseT4" class="accordion-collapse collapse" aria-labelledby="headingTwoB"
								data-bs-parent="#accordionExample">
								<div class="accordion-body">
									Principal investigators were able to complete their American Heart Association
									clinical studies in record breaking times with a new flexibility and ease of used
									not experienced before.
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingThree">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseT5" aria-expanded="false" aria-controls="collapseThree">
									My Contribution
								</button>
							</h2>
							<div id="collapseT5" class="accordion-collapse collapse" aria-labelledby="headingThree"
								data-bs-parent="#accordionExample">
								<div class="accordion-body">
									Personally the lead software developer that created a brand new AHA Website for their 
									27 million USD 10 year study.
								</div>
							</div>
						</div>
					</div>
					<a href="#" class="btn btn-dark">Read More</a>
				</div>
			</div>

			<!-- HEALTHeFORCES Military Medicine Website -->
			<div class="col-xl-4 col-lg-6 col-md-12">
				<div class="box bg-light h-100 d-flex p-4 flex-column text-blue shadow p-3 mb-5 bg-body rounded">
					<img src="https://images.pexels.com/photos/6812520/pexels-photo-6812520.jpeg?auto=compress&cs=tinysrgb&w=1600"
						alt="image representing Westat work">
					<h1>HEALTHeFORCES Military Medicine Tele-Medicine</h1>

					<div class="accordion" id="accordionExample">
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingOne">
								<button class="accordion-button" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseT1" aria-expanded="true" aria-controls="collapseOne">
									Business Scope
								</button>
							</h2>
							<div id="collapseT1" class="accordion-collapse collapse" aria-labelledby="headingOne"
								data-bs-parent="#accordionExample">
								<div class="accordion-body">
									Since 1963, Westat is a leader in research, data collection and analysis, technical 
									assistance, evaluation, and communications. Westat is responsible for evidence-based
									findings help clients in government and the private sector accelerate 
									advancements in health, education, and social and 
									economic policy.
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingTwo">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseT2" aria-expanded="false" aria-controls="collapseTwo">
									Technology I used
								</button>
							</h2>
							<div id="collapseT2" class="accordion-collapse collapse" aria-labelledby="headingP1C"
								data-bs-parent="#accordionExample">
								<div class="accordion-body">
									At the time, my mastery of new technologies put me far ahead of others. I was able
									to quickly and effectively
									use new technologies. I used my skills in Parallel Processing and In-Memory
									disconnected data processing to achieve a 40x speed improvement in clinical
									reports for massive data far exceeding customer expectations.
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingTwo">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseT3" aria-expanded="false" aria-controls="collapseTwo">
									The Problem I directly solved
								</button>
							</h2>
							<div id="collapseT3" class="accordion-collapse collapse" aria-labelledby="headingTwo"
								data-bs-parent="#accordionExample">
								<div class="accordion-body">
									Principal investigators for American Heart Association studies needed a web 
									portal to access their clinical results in real-time. When I started, reports 
									took over four-hours to produce reports via email. The new web portal I created 
									produced reports in just a few minutes greatly improving satisfaction of all 
									business customers.<p></p>I realized that modern servers have 8 CPU cores or more,
									so I read in daily data into server memory and processed the data in-memory 
									instead of using slow stored procedures to create reports. 
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingTwoB">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseT4" aria-expanded="false" aria-controls="collapseTwoB">
									Success Achieved
								</button>
							</h2>
							<div id="collapseT4" class="accordion-collapse collapse" aria-labelledby="headingTwoB"
								data-bs-parent="#accordionExample">
								<div class="accordion-body">
									Principal investigators were able to complete their American Heart Association
									clinical studies in record breaking times with a new flexibility and ease of used
									not experienced before.
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingThree">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseT5" aria-expanded="false" aria-controls="collapseThree">
									My Contribution
								</button>
							</h2>
							<div id="collapseT5" class="accordion-collapse collapse" aria-labelledby="headingThree"
								data-bs-parent="#accordionExample">
								<div class="accordion-body">
									Personally the lead software developer that created a brand new AHA Website for their 
									27 million USD 10 year study.
								</div>
							</div>
						</div>
					</div>
					<a href="#" class="btn btn-dark">Read More</a>
				</div>
			</div>
		</div>

	</div>


	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous">
		</script>
	</div>

	<%- include('../partials/particles_script.ejs') %>

</body>

</html>