<!doctype html>
<html lang="en">

<head>
	<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
		body,
		html {
			height: 100%;
			margin: 0;
			font-family: Arial, Helvetica, sans-serif;
		}
	</style>

	<style type="text/css">
		.inner {
			overflow: hidden;
		}

		.inner img {
			transition: all 1.5s ease;
		}

		.inner:hover img {
			transform: scale(1.5);
		}
	</style>

	<%- include('../partials/landing_hero_css.ejs') %>
		<%- include('../partials/particles_css.ejs') %>

			<title>James - Portfolio</title>
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
				integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
				crossorigin="anonymous">
			<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

			<script type="text/javascript">
				window.onresize = function () {
					// alert("you resized");
					drawChart();
				}
				// Load the Visualization API and the corechart package.
				google.charts.load('current', { 'packages': ['corechart'] });

				// Set a callback to run when the Google Visualization API is loaded.
				google.charts.setOnLoadCallback(drawChart);

				// Callback that creates and populates a data table,
				// instantiates the pie chart, passes in the data and
				// draws it.
				function drawChart() {

					// Create the data table.
					var data = new google.visualization.DataTable();
					data.addColumn('string', 'Topping');
					data.addColumn('number', 'Slices');
					data.addRows([
						['Passion', 3],
						['Hard Work', 1],
						['Focus', 1],
						['Process improvement', 1],
						['Process Metrics', 2]
					]);

					// Set chart options
					var options = {
						'title': "James's ingredients for success",
						'width': '100%',
						'height': '100%'
					};

					// Instantiate and draw our chart, passing in some options.
					var chart = new google.visualization.PieChart(document.getElementById('pie_chart'));
					chart.draw(data, options);
				}
			</script>

</head>

<body>
	<p></p>
	<div class="container-fluid mt-3"></div>
	<div class="hero-image" id="particles-js" style="max-height: 350px;overflow: hidden;">
		<div class="hero-text">
			<!-- <h1 style="font-size:50px">James C Hernandez</h1> -->
			<div class="d-none d-sm-block">
				<h1 class="fs-1">James C Hernandez</h1>
				<h2 class="fs-3">Your Ideas turned into Results</h2>
				<h3 class="fs-3">Leadership with a solid technical background</h3>
			</div>
			<div class="d-sm-none d-md-none d-lg-none">
				<h1 class="fs-2">James C Hernandez</h1>
				<h2 class="fs-6">Your Ideas turned into Results</h2>
				<h3 class="fs-6">Leadership with a solid technical background</h3>
			</div>
			<button type="button" class="btn brn-light">What I Can Bring To Your Team</button>
		</div>
	</div>

	<p></p>

	<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

	<p>PORTFOLIO</p>

	<div class="container">
		<div class="row justify-content-center">

			<div class="col-md-4">
				<div class="card" style="width: 20rem;">
					<div class="inner">
						<img class="card-img-top" src="GEICO2.jpg" alt="card image cap">
					</div>

					<div class="card-body">
						<h5 class="">GEICO - Commercial and Private Auto Insurance web sites</h5>
						<div class="accordion" id="accordionExample">
							<div class="accordion-item">
								<h2 class="accordion-header" id="headingOne">
									<button class="accordion-button" type="button" data-bs-toggle="collapse"
										data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
										Relevance
									</button>
								</h2>
								<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
									data-bs-parent="#accordionExample">
									<div class="accordion-body">
										GEICO, founded in 1936, manages more than 16 million auto policies in force and
										insures more than 28 million vehicles. They have
										expanded insurance coverage for home, rent, boat, and motorcycles. Owned by
										Warren Buffett's massive holding company, GEICO
										sustained high margins in its latest earnings report, posting a $514 million
										pre-tax profit - Aug 2023
									</div>
								</div>
							</div>
							<div class="accordion-item">
								<h2 class="accordion-header" id="headingTwo">
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
										data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
										My Role
									</button>
								</h2>
								<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
									data-bs-parent="#accordionExample">
									<div class="accordion-body">
										Lead software engineer and team scrum master for developing the first mobile
										commercial auto website UI upgrade for iPhones,tables, and Android web
										enabled phones. I successfully completed nationwide upgrade in record breaking
										time allowing in millions of customers to buy and manage their commercial
										auto policies from their smart phones or tables now.<p></p>After this success, I
										was made scrum master for a major upgrade of the main personal auto insurance
										website code named EDGE. Brought key know-how into a larger diverse team to
										increase their productivity and efficiency.
									</div>
								</div>
							</div>
							<div class="accordion-item">
								<h2 class="accordion-header" id="headingThree">
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
										data-bs-target="#collapseThree" aria-expanded="false"
										aria-controls="collapseThree">
										My Contribution
									</button>
								</h2>
								<div id="collapseThree" class="accordion-collapse collapse"
									aria-labelledby="headingThree" data-bs-parent="#accordionExample">
									<div class="accordion-body">
										personally resulted in significant cost savings and productivity saving over
										$450K USD with 15-20 man hours saved per week
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="card" style="width: 20rem;">
					<div class="inner">
						<img class="card-img-top"
							src="https://images.pexels.com/photos/5098043/pexels-photo-5098043.jpeg?auto=compress&cs=tinysrgb&w=200"
							alt="card image cap">
					</div>

					<div class="card-body">
						<h5 class="">PIMS - Passenger Information Management System</h5>
						<div class="accordion" id="accordionExample">
							<div class="accordion-item">
								<h2 class="accordion-header" id="headingOne">
									<button class="accordion-button" type="button" data-bs-toggle="collapse"
										data-bs-target="#collapseP1" aria-expanded="true" aria-controls="collapseOne">
										Relevance
									</button>
								</h2>
								<div id="collapseP1" class="accordion-collapse collapse" aria-labelledby="headingOne"
									data-bs-parent="#accordionExample">
									<div class="accordion-body">
										The global passenger rail transport market is expected to grow from $227.21
										billion in 2021 to
										$250.93 billion in 2022 at a compound annual growth rate (CAGR) of 10.4%. The
										market is expected to grow to $357.84 billion in 2026 at a compound
										annual growth rate (CAGR) of 9.3%.
									</div>
								</div>
							</div>
							<div class="accordion-item">
								<h2 class="accordion-header" id="headingTwo">
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
										data-bs-target="#collapseP2" aria-expanded="false" aria-controls="collapseTwo">
										My Role
									</button>
								</h2>
								<div id="collapseP2" class="accordion-collapse collapse" aria-labelledby="headingTwo"
									data-bs-parent="#accordionExample">
									<div class="accordion-body">
										For the Seattle Washington Link Light Rail - high availability Passenger
										Information Information System, I created automatic scripts for Continuous
										[build] Integration that saves dozens of hours a week
										which building and deploying code across multiple servers in test, stage, and
										production environments under CM control,
										Designed and coded an automated two-way recursive folder sync between primary
										and replica hosts,
										Created automated tasks to backup and maintain databases, Coded key portions of
										system resulting in significant
										cost savings and productivity saving over $450K USD.
									</div>
								</div>
							</div>
							<div class="accordion-item">
								<h2 class="accordion-header" id="headingThree">
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
										data-bs-target="#collapseP3" aria-expanded="false"
										aria-controls="collapseThree">
										My Contribution
									</button>
								</h2>
								<div id="collapseP3" class="accordion-collapse collapse" aria-labelledby="headingThree"
									data-bs-parent="#accordionExample">
									<div class="accordion-body">
										personally resulted in significant cost savings and productivity saving over
										$450K USD with 15-20 man hours saved per week
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="card" style="width: 20rem;">
					<div class="inner">
						<img class="card-img-top" src="card-portfolio.jpeg" alt="card image cap">
					</div>
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">This is an example of card text.</p>
						<a href="#" class="btn btn-primary">Go Somewhere</a>
					</div>
				</div>
			</div>
		</div>

		<div class="row gy-2">

			<div class="col-lg-4 col-md-6">
				<div class="box bg-light h-100 d-flex p-4 flex-column text-blue shadow p-3 mb-5 bg-body rounded">
					<!-- <img src="https://images.pexels.com/photos/3153199/pexels-photo-3153199.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt=""> -->
					<!-- <img src="https://images.pexels.com/photos/5716033/pexels-photo-5716033.jpeg?auto=compress&cs=tinysrgb&w=1600" -->
					<img src="card-leadership.jpeg" alt="image of leadership">
					<h1>Leadership</h1>
					<p> Having attained my <B>MBA</B> after my <B>BSCS</B>, it gave me unique insight into developing
						effective teams consisting and how clear objectives lead a group of people who work together to
						achieve
						a shared goal.</p>
					<p>I use performance metrics to achieve consistently improving results, determine Returns on
						Investments, Total Costs of Ownership, Opportunity Costs, and Project Capabilities and Costs.
						Workforce management is also key to building highly effective team using effective people and
						communication skills </p>
					<a href="#" class="btn btn-dark">Read More</a>
				</div>
			</div>

			<div class="col-lg-4 col-md-6">
				<div class="box bg-light h-100 d-flex p-4 flex-column text-blue shadow p-3 mb-5 bg-body rounded">
					<img src="card-technical-background.jpeg" alt="image of technical leadership">
					<h1>Technical Background</h1>
					<!-- <div id="particles-js" class="img-responsive" style="max-height:100px;"></div> -->
					<!-- <div  class="img-responsive"><img src="https://images.pexels.com/photos/5053848/pexels-photo-5053848.jpeg?auto=compress" class="img-responsive"   style="max-height: 200px;width:min-content"></div>  -->

					<p>My Bachelors Degree in Computer Science from the University of Maryland was the realization of my
						software passion from the age of 15, when I developed my first video game called Proton-Patrol.
					</p>
					<p>Today this passion drives me to learn the latest technologies and developments so that they can
						improve our lives. Today this continues with and interest automation, robotics, GPS devices,
						sensors, mobile development
						and the Internet of Things (IOT) for embedded micro devices</p>
					<a href="#" class="btn btn-dark">Read More</a>
				</div>
			</div>

			<div class="col-lg-4 col-md-6">
				<div class="box bg-light h-100 d-flex p-4 flex-column text-blue shadow p-3 mb-5 bg-body rounded">
					<img src="card-portfolio.jpeg" alt="image of showing portfolio of work">
					<h1>Portfolio of Success</h1>
					<p>
					<div class="card_body" id="pie_chart"></div>
					</p>
					<p>By reducing the total cost of ownership, maximizing return on investment (ROI) using efficiency
						metrics.
						I have increased team efficiency and output, reduced costs and defects. Building clear
						efficient systems
						and team skill development using cross training and mentoring.
					</p>
					<a href="#" class="btn btn-dark">Read More</a>
				</div>
			</div>

			<div class="col-lg-4 col-md-6">
				<div class="box bg-light h-100 d-flex p-4 flex-column text-blue shadow p-3 mb-5 bg-body rounded">
					<!-- <img src="https://images.pexels.com/photos/999267/pexels-photo-999267.jpeg?auto=compress&cs=tinysrgb&w=1600"
						alt=""> -->
					<img src="card-drive.jpeg" alt="image of person with drive and commitment">
					<!-- <img src="https://images.pexels.com/photos/258045/pexels-photo-258045.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt=""> -->
					<h1>Drive</h1>
					<p>Successful people are known for having clear-cut goals that they work hard to reach.</p>
					<p>
						I have the ability to take initiative to improve processes. Vision, patience, and focus.</p>
					<p>
						Success builds upon a string of small achievements that amount to a larger success story.
						I can overcome obstacles and make progress on my own when necessary.
					</p>
					<a href="#" class="btn btn-dark">Read More</a>
				</div>
			</div>

			<!-- 			<div class="col-lg-3 col-md-4">
				<div class="box bg-light h-100 d-flex p-4 flex-column text-blue shadow p-3 mb-5 bg-body rounded">
					<img src="https://images.pexels.com/photos/3058762/pexels-photo-3058762.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
						alt="">
					<h1>Education and Self Directed Learning</h1>
					<p>My Bachelors in Computer Science from the University of Maryland, and my Graduate Masters of
						Business Administration (MBA)
						with a concentration in Project Management taught me how to achieve consistent successful
						results. We live in interesting times
						and I find ways to learn new things whenever possible to keep my mind sharp and ideas fresh.
					</p>
					<a href="#" class="btn btn-dark">Read More</a>
				</div>
			</div> -->

			<div class="col-lg-4 col-md-6">
				<div class="box bg-light h-100 d-flex p-4 flex-column text-blue shadow p-3 mb-5 bg-body rounded">
					<!-- <img src="https://images.pexels.com/photos/3058762/pexels-photo-3058762.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt=""> -->
					<img src="card-interesting-things.jpeg" alt="image of person engaging in interesting hobbies">
					<h1>Interesting Things</h1>
					<p>Find out about my latest personal projects in robotics, GPS aware websites and devices, single
						board computers,
						latest tools and tips and articles. The best learning is fun.
					</p>
					<a href="#" class="btn btn-dark">Read More</a>
				</div>
			</div>

		</div>
	</div>


	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous">
		</script>
	</div>

	<%- include('../partials/particles_script.ejs') %>

</body>

</html>